# ここにAppStore/AppleDeveloper上でのDEVELOPMENT_TEAMのIDを入れてください
DEVELOPMENET_TEAM=""
# ここにAPIのURLを入れる
HOST_URL=""

export FIREBASE_API_KEY=""
export FIREBASE_APP_ID=""
export GCM_SENDER_ID=""
export PROJECT_ID=""
export STORAGE_BUCKET=""